<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <a href="/Home/Index">Index</a>
    <a> | </a>
    <a href="/Home/DownloadList">Download List</a>
    <hr />
    <div>
        @RenderBody()
    </div>
</body>
</html>